.cart {
    width: auto;
    margin-right: 30px;
    padding: 6px;
    background: #088178;
    border-radius: 8px;
    display: flex;
    order: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: 10px;
}

.cart a {
    display: flex;
}

.count{
    margin-left: 10px;
    font-size: 18px;
}

.CartImg {
    margin-right: 10px;
}