nav{
    padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2{
    color: #fff;
    font-weight: 400;
}

nav span{
    font-weight: bold;
}

.listPage a{
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}